* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  border: 0 none;
}
body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background-color: white;
}

#menu {
  position: absolute;
  height: 150px;
  width: 150px;
  background-color: white;
  border: 10px solid black;
  border-radius: 100% 100% 100% 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#menu > button {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

@keyframes piscadela {
  50% {
    background-color: white;
  }
}

#genius {
  z-index: 1;
  height: 600px;
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

#genius > div {
  border: 10px solid black;
  width: 50%;
  flex: none;
  /* transition: .3s; */
}

#genius > div:nth-child(1) {
  background-color: blue;
  border-radius: 100% 0px 0px 0px;
}

#genius > div:nth-child(2) {
  background-color: red;
  border-radius: 0px 100% 0px 0px;
}

#genius > div:nth-child(3) {
  background-color: green;
  border-radius: 0px 0px 0px 100%;
}

#genius > div:nth-child(4) {
  background-color: yellow;
  border-radius: 0 0 100% 0;
}

#genius > div.animate {
  /* background-color: white; */ /* usado no exemplo transition */
  animation: piscadela 0.3s ease-in-out;
  /* animation-name: piscadela;
    animation-duration: 1s;
    animation-timing-function: ease-in-out; */
}

div.pontuacao {
  display: inline;
}
